.grid-container {
    display: grid;
    /* grid-template-rows: 300px 286px 300px; */
    gap: 24px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    padding: 10px;
}

.card-box1 {
    grid-column: span 6;
    /* grid-row: 1 / 2; */
    height: 200px;
    background-color: red;
}

.card-box2 {
    grid-column: span 6;
    /* grid-row: 1 / 2; */
    height: 200px;
    background-color: green;
}

.card-box3 {
    grid-column: span 4;
    /* grid-row: 2 / 3; */
    height: 150px;
    background-color: lightcoral;
}

.card-box4 {
    grid-column: span 5;
    /* grid-row: 2 / 3; */
    height: 150px;
    background-color: lightgreen;
}

.card-box5 {
    grid-column: span 3;
    /* grid-row: 2 / 3; */
    height: 150px;
    background-color: rgb(168, 18, 111);
}

.card-box6 {
    grid-column: span 5;
    /* grid-row: 3 / 4; */
    height: 180px;
    background-color: rgb(201, 99, 17);
}

.card-box7 {
    grid-column: span 7;
    /* grid-row: 3 / 4; */
    height: 180px;
    background-color: rgb(143, 13, 126);
}

/* desktop layout */
/* .card-box1 {
    grid-column: 1/2;
}

.card-box2 {
    grid-column: 2/3;
}

.card-box3 {
    grid-column: 1/2;
}

.card-box4 {
    grid-column: 2/3;
}

.card-box5 {
    grid-column: 3/4;
}

.card-box6 {
    grid-column: 1/2;
}

.card-box7 {
    grid-column: 2/3;
}  */

@media screen and (max-width:768px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);

    }


    .card-box1,
    .card-box2,
    .card-box3,
    .card-box4,
    .card-box5,
    .card-box6,
    .card-box7 {
        grid-column: span 1;
    }

}